/*========================================*/
/*----------- [_Google_Fonts] ------------*/
/*========================================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

/*========================================*/
/*---------[-Colors & font-size]----------*/
/*========================================*/

:root {
    /* font-size */
    --x-small: 10px;
    --small: 14px;
    --medium: 16px;
    --large: 45px;
    /* colors */
    --blue: #2D7AC0;
    --white: #fff;
    --gray: #bec1bb;
    --very-light-pink: #eeeeee;
    --dark-jungle: #1b1f21;
    --outer-space: #444749;
}

/*========================================*/
/*-----------------[_Tags]----------------*/
/*========================================*/

body {
    margin: 0;
    padding: 0;
}

nav {
    padding: 15px;
    grid-area: navbar-section;
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 20px;
    grid-area: filter-section;
    background-color: var(--very-light-pink);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--outer-space);
}

section div h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--medium);
}

main {
    padding: 25px;
    grid-area: main-section;
}

footer {
    padding: 10px;
    grid-area: footer-section;
    background-color: var(--blue);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: var(--small);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer div p {
    margin-bottom: 0;
}

/*========================================*/
/*---------------- [_Class] --------------*/
/*========================================*/

.grid-container {
    display: grid;
    width: 100%;
    min-height: 100vh;
    border: 1px solid var(--dark-jungle);
    grid-template-rows: 0.7fr 1.3fr 7fr 1fr;
    grid-template-areas: 
    "navbar-section"
    "filter-section"
    "main-section"
    "footer-section";
}

.nav-left h1 {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--small);
} 

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 25px;
    place-content: center;
}

.cards-container .product-card:nth-child(n+3) {
    display: none;
}

.product-card {
    width: 300px;
    border: 1px solid var(--very-light-pink);
    border-radius: 2px;
}

.product-card img {
    width: 300px;
    object-fit: cover;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--small);
    color: var(--dark-jungle);
}

.product-details button {
    width: 70px;
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}



/*========================================*/
/*------------- [_breakpoint] ------------*/
/*========================================*/

